.nav{
    background-color: #14ABF4;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav a{
    
    margin-left: 10px;
    position: relative;
    color: white;
    text-decoration: none;
}
.nav a:hover{
        color: white;
}
.nav a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 1s ease;
  }
  .nav a:hover::before {
    transform: scaleX(1);
  }

/* featured */
  .top-banner{
      background-color: #14ABF4;
  }
  .main-banner{
      display: flex;
      min-height: 700px;
      align-items: center;
      justify-content: center;
      color: white;
      margin-bottom: 0;
      
  }
  .main-banner .main{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .main-banner h4{
      width: 0ch;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      border-right: 3px solid white;
      animation: text 10s steps(41) infinite alternate;
  }
  @keyframes text{
      0%{
          width: 0ch;
          
      }
      50%{
          width: 40ch;
          color: rgb(255, 213, 74);
      }
      
  }
  .main-banner p{
      max-width: 800px;
      text-align: left;
  }
  .button{
      background-color: #14ABF4;
      text-transform: uppercase;
      padding: 10px;
      border-radius: 5px;
      border: 3px solid white;
      color: white;
      transition: background-color 0.5s ease-in, color 0.5s ease-in;
  }
  .button:hover{
      background-color: white;
      color: #14ABF4;
  }
  .about p{
      max-width: 700px;
      text-align: justify;
      margin: 10px auto;
  }
  .about p span{
      font-size: 20px;
      font-weight: 700;
      color: #14ABF4;
  }
  .about-skill{
      background-color: rgba(238, 235, 235, 0.733);
      padding-top: 60px;
      padding-bottom: 60px;
  }
  .main-about{
      background-color: white;
      padding-top: 10px;
  }
  .button-resume{
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #14ABF4;
    color: #14ABF4 ;
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
  }
  .button-resume:hover {
    background-color:#14ABF4 ;
    color: white ;
  }
  .button-resume:hover a{
      color: white;
  }
  .about-image{
      border-radius: 50%;
      background-color: #14ABF4;
      margin-top: 10%;
  }
  .projects{
    background-color: rgba(238, 235, 235, 0.733);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .service-cont{
      background-color: white;
      padding-top: 10px;
  }
  .services .icon{
      font-size: 30px;
      border: 2px solid #14ABF4;
      color: #14ABF4;
      border-radius: 50%;
      padding: 20px;
  }
  .projects{
      margin-top: 70px;
  }
  .projects .my-projects{
      margin-bottom: 40px;
  }
.project{
    border: none;
    transition: opacity 0.5s;
}
.project a{
    color: white;
}
.new{
    display: none;
    transition: margin-top 5s ;
}
.project:hover{
    opacity: 0.4; 
}
.project:hover + .new{
    display: flex;
    margin-top: -100px;
   margin-left: 150px;
}

.card{
    border: none;
}
.card .icon{
    background-color: #14ABF4;
    color: white;
    border: 1px solid #14ABF4;
    border-radius: 50%;
    padding: 30px;
    font-size: 50px;
}
.footer{
    background-color: black;
    opacity: 0.9;
    padding: 20px 10px;
    color: white;
}
.footer .footer-icon .icon{
    padding: 10px;
    font-size: 40px;
    color: #14ABF4;
    transition: transform 0.5s;
}
.footer .footer-icon .icon:hover{
    transform: scale(1.5);
}
.team-button{
    background-color: #14ABF4;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.member{
    transition: transform 0.5s;
}
.member:hover{
      transform: scale(0.8);
}


