.nav{
    background-color: #14ABF4;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav a{
    display: inline-block;
    margin-left: 10px;
    position: relative;
    color: white;
    text-decoration: none;
}
.nav a:hover{
        color: rgb(255, 213, 74);
}
.nav a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 213, 74);
    transform: scaleX(0);
    transition: transform 1s ease;
  }
  .nav a:hover::before {
    transform: scaleX(1);
  }

/* featured */
  .top-banner{
      background-color: #14ABF4;
  }
  .main-banner{
      display: flex;
      min-height: 700px;
      align-items: center;
      justify-content: center;
      color: white;
      margin-bottom: 0;
      
  }
  .main-banner .main{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .main-banner h4{
      width: 0ch;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      border-right: 3px solid white;
      animation: text 10s steps(41) infinite alternate;
  }
  @keyframes text{
      0%{
          width: 0ch;  
      }
      50%{
          width: 40ch;
          color: rgb(255, 213, 74);
      }
      
  }
  .main-banner p{
      max-width: 800px;
      text-align: left;
  }
  .button{
      background-color: #14ABF4;
      text-transform: uppercase;
      padding: 10px;
      border-radius: 5px;
      border: 3px solid white;
      color: white;
      transition: background-color 0.5s ease-in, color 0.5s ease-in;
  }
  .button:hover{
      background-color: white;
      color: #14ABF4;
  }
  .about p{
      max-width: 700px;
      text-align: justify;
      margin: 10px auto;
  }
  .about p span{
      font-size: 20px;
      font-weight: 700;
      color: #14ABF4;
  }
  .about-skill{
      background-color: rgba(238, 235, 235, 0.733);
      padding-top: 60px;
      padding-bottom: 60px;
  }
  .main-about{
      background-color: white;
      padding-top: 10px;
  }
  .button-resume{
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #14ABF4;
    color: #14ABF4 ;
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
  }
  .button-resume:hover {
    background-color:#14ABF4 ;
    color: white ;
  }
  .button-resume:hover a{
      color: white;
  }
  .about-image{
      border-radius: 50%;
      max-width: 250px;
      max-height: 250px;
      background-color: #14ABF4;
      margin-top: 10%;
  }
  .skills{
      display: flex;
      flex-wrap: wrap;
  }
  .skills span{
      background-color: tomato;
      color: white;
      margin: 5px;
      font-size: 25px;
      padding: 5px;
      border-radius: 5px;
      transition: all .8s;
  }
  .skills span:hover{
    background-color: white;
    color: tomato;
  }
  .projects{
    background-color: rgba(238, 235, 235, 0.733);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .service{
      background-color: #14ABF4;
      min-height: 250px;
      padding-top: 10px;
      color: white;
      transition: all .8s;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .service:hover{
      color: #14ABF4;
      background-color: white;
  }
  .service:hover .service-icon{
    border: none;
    transform: rotate(360deg);
  }
  .bu{
      background-color: tomato;
      color: white;
      padding: 10px;
      border-radius: 5px;
      margin-right: 10px;
      transition: all .3s;
      border: 2px solid tomato;
  }
  .bu a{
      color: white;
      text-decoration: none;
      transition: all .3s;
  }
  .bu:hover{
      border: 2px solid tomato;
      background-color: white;
  }
  .bu:hover a{
      color: tomato;
  }
  .service-icon{
      background-color: white;
      color: #14ABF4;
      border: 1px solid #14ABF4;
      border-radius: 50%;
      padding: 30px;
      font-size: 50px;
      transition: all .8s;
  }
  .projects{
      margin-top: 70px;
  }
  .projects .my-projects{
      margin-bottom: 40px;
  }
.project{
    border: none;
    transition: opacity 0.5s;
}
.project a{
    color: white;
}
.new{
    display: none;
    transition: margin-top 5s ;
}
.project:hover{
    opacity: 0.4; 
}
.project:hover + .new{
    display: flex;
    margin-top: -100px;
   margin-left: 150px;
}

.card{
    border: none;
}
.card .icon{
    background-color: #14ABF4;
    color: white;
    border: 1px solid #14ABF4;
    border-radius: 50%;
    padding: 30px;
    font-size: 50px;
}
.footer{
    background-color: black;
    opacity: 0.9;
    padding: 20px 10px;
    color: white;
}
.footer .footer-icon .icon{
    padding: 10px;
    font-size: 40px;
    color: #14ABF4;
    transition: transform 0.5s;
}
.footer .footer-icon .icon:hover{
    transform: scale(1.5);
}
.team-button{
    background-color: #14ABF4;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.member{
    transition: transform 0.5s;
}
.member:hover{
      transform: scale(0.8);
}
.name{
    animation: name 5s  infinite;
}
.title{
    position: relative;
    display: inline-block;
    animation: identifier 7s  infinite;
}
@keyframes name {
   0%{
        color: rgb(131, 52, 38);
    }
    50%{
        color: #196588;
    }
    75%{
        color: #458616 ;
    }
    100%{
        color: #881780 ;
    }
}
@keyframes identifier {
   0%{
        color: tomato;
    }
    50%{
        color: #05ABF5;
    }
    75%{
        color: #68F505 ;
    }
    100%{
        color: #F505E6 ;
    }
}
.title::after{
    position: absolute;
    content: '';
    background-color: #F505E6;
    height: 2px;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 100%;
}
.title::before{
    position: absolute;
    content: '';
    background-color: tomato;
    height: 5px;
    bottom: -7px;
    left: 0;
    right: 0;
    width: 50%;
    z-index: 999;
    margin: 0 auto;
    border-radius: 5px;
}

/* about */
ul{
    text-align: left;
}
.list-item{
    list-style: none;
    position: relative;
}
.list-item::after{
    content: '';
    position: absolute;
    top: 5px;
    bottom: 0;
    left: -20px;
    width: 15px;
    height: 15px;
    background-color: tomato;
    border-radius: 50%;
}
.social-icons{
    margin-bottom: 10px;
}
.social-icon{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    font-size: 30px;
    z-index: 999;
    color:  #3b5998;
}
.social-icon::after{
    position: absolute;
    content: '';
    background-color: tomato;
    height: 52px;
    bottom: -46px;
    left: 0;
    top: 46px;
    right: 0;
    width: 100%;
    transition: all .5s;
    z-index: -999;
}
.social-icon:hover{
    color: white;
}
.social-icon:hover.social-icon::after{
    top: 0;
    bottom: 0;
}
/* contact me */
.contact-me{
    background-color: #1f2235;
    padding: 3px 12px 40px;
}
.get-touch{
    font-weight: 700;
    color: white;
    margin: 0 4px;
    font-size: 30px;
    animation: getTouch .8s infinite;
}
@keyframes getTouch {
    0%{
        color: white;
    }
    50%{
        color: #1f2235;
    }
}
.form-email{
    background-color: white;
    padding-top: 30px;
    border-radius: 5px;
}
.form-email input,textarea{
    background-color: rgb(206, 206, 206);
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 5px;
}
/* .form-email input:focus{
    outline: none;
    border: none;
    box-shadow: none;
} */